# Ambientes Virtuais (VENV)
venv/
env/
.venv/
ENV/

# Variáveis de Ambiente (SEGURANÇA CRÍTICA)
.env

# Banco de Dados SQLite (Local)
*.sqlite3
db.sqlite3

# Python (Arquivos compilados)
__pycache__/
*.py[cod]
*$py.class

# Configurações de Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de Mídia (Uploads de usuários)
media/
staticfiles/

# Sistema Operacional
.DS_Store
Thumbs.db